1. Для запуска сервиса потребуется HTTP клиент (я использовал ARC).

2. Открыть файл serv.py и запустить его. В окне вывода программы(скрипта) используемой вами IDE появится надпись "Запуск сервера по адресу localhost:8000".

3. Открыть HTTP клиент и сформировать там POST запрос:
	3.1 В параметре "Body content type" указать "application/json".
	3.2 Нажать на кнопку "ADD PRPOERTY" и добавить туда ticker, email, max_price и min_price.
	3.3 Для того, чтобы подписаться на несколько тикеров, необходимо в свойстве "ticker" указать тип данных не string, а list и по очереди в список добавить имя тикера (тип данных - string). Если подписка на один тикер - указать тип данных string и ввести туда нужное значение.
	3.4 Аналогично для max_price и min_price (Тип данных - float или integer). Если параметров несколько, то необходимо указывать параметры в списке в таком же порядке, как указан ticker.
	3.5 Нажать на кнопку отправки. Если запрос успешно отправлен, то в пункте DETAILS появится сам запрос (например - {"ticker":"SBUX","email":"alexeushka8@gmail.com","max_price":4,"min_price":2}).

4. После отправки запроса в окне вывода программы(скрипта) используемой вами IDE отобразится соответствующий запрос.

5. Запустить файл project.py.

6. В окне вывода программы(скрипта) появится надпись "Sucess: Email sent!" и на указанный почтовый адрес придёт письмо. По умолчанию письмо будет отправлено от моего имени.

7. Для изменения типа подписки (на max_price и min_price, только на min_price или только на max_price) необходимо вызвать другую функцию в файле project.py.
	7.1 Если подписка на один тикер:
		В строке 76 вызывать :  App.send_mail_both(price, ticker_name, max_price, min_price) - для подписки и на max_price и min_price.
					App.send_mail_minimum(price, ticker_name, min_price) - для подписки только на min_price.
					App.send_mail_maximum(price, ticker_name, max_price) - для подписки только на max_price.

	7.2 Если подписка на несколько тикеров:
		В строке 116 вызывать :  App.send_mail_both(price, tl_element, max_price, min_price) - для подписки и на max_price и min_price.
					 App.send_mail_minimum(price, tl_element, min_price) - для подписки только на min_price.
					 App.send_mail_maximum(price, tl_element, max_price) - для подписки только на max_price.

8. Для удаления подписки открыть HTTP клиент и сформировать там DELETE запрос: ввести название тикера, подписку на который необходимо удалить и соответствующие ему max_price и min_price.

9. После удаления подписки на определённый тикер, письма приходить перестанут. В случае удаления подписки на все тикеры, перестанут приходить все письма.